<launch>
  <arg name="web3_http_provider" default="http://localhost:8545" />
  <arg name="approve" default="0" />

  <node name="trader" pkg="dummy_aira" type="trader_node" output="screen">
    <param name="approve" value="$(arg approve)" />
    <param name="web3_http_provider" value="$(arg web3_http_provider)" />
    <param name="model" value="" />
    <param name="token" value="" />
    <param name="bid_lifetime" value="100" /> <!-- Ethereum blocks lifetime, ~12-15 sec for one -->
  </node>
</launch>
